$red: #ff0033;

$red-2: #ff2f2f;

$white: #ffffff;

$white-2: #f2f2f2;

$green: #84bf04;

$gray-2: #b8b8b8;

$purple: #843582;

$deep-blue: #1047a1;

$gray-1: #cccccc;

$background: #f8f8f8;

$gray-3: #666666;

$aqua: #53c1b5;

$turquesa: #41cad9;

$yellow: #ffbe00;

$warm-grey: #707070;