@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
.od-lato-regular-font {
    font-family: 'Gruppo', cursive;;
    font-weight: 400;
}

.od-lato-bold-font {
    font-family: 'Gruppo', cursive;;
    font-weight: 700;
}