<nav class="" class="od-menu">
    <div class="od-logo-menu-image">
        <img class="library-logo" src="../../../assets/images/alejandria-removebg-preview.png" alt="">
    </div>
    <div class="od-menu-items" fxLayout="column">
        <div class="od-centrado">
          


            <div class="od-flex-column" >
                <div class="od-row-align-center od-section-container od-pointer" (click)="goToPublicityHome()">
                    

                    <mat-icon svgIcon="{{dashboardUser? 'ic-dashboard-on': 'ic-dashboard-off'}}"></mat-icon>

                    <p class="od-size-14 od-lato-bold-font od-color-gray-2"
                        [class.od-color-red-active]="dashboardUser || publicityCategories || publicityOnboarding">
                        Inicio
                    </p>
                </div>
                <div class="od-row-align-center od-section-container od-pointer" (click)="goToPublicityHome()">
                    
                    <mat-icon svgIcon="{{booksUser? 'ic-info-on': 'ic-info-off'}}"></mat-icon>
            
                    <p class="od-size-14 od-lato-bold-font od-color-gray-2"
                        [class.od-color-red-active]="booksUser ">
                        Libros
                    </p>
                </div>
                <div class="od-row-align-center od-section-container od-pointer" (click)="goToPublicityHome()">
                    <div *ngIf="booksUser" class="od-indicator"></div>
                    <mat-icon svgIcon="{{booksUser?  'ic-dot-on' : ''}}"></mat-icon>
                    <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="booksUser">
                        Admin. Libros
                    </p>
                </div>
                <div class="od-row-align-center od-section-container od-pointer" >
                    <div *ngIf="publicityCategories" class="od-indicator"></div>
                    <mat-icon svgIcon="{{publicityCategories?  'ic-dot-on' : ''}}"></mat-icon>
                    <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="publicityCategories">
                        Autores
                    </p>
                </div>
            </div>
            <div class="od-row-align-center od-section-container od-pointer" (click)="goToUsers()" >
                <mat-icon svgIcon="{{admin || reader? 'ic-user-on': 'ic-user-off'}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="users">
                    Usuarios
                </p>
            </div>
            <div class="od-row-align-center od-section-container od-pointer" (click)="goToUsers()">
                <div *ngIf="reader" class="od-indicator"></div>
                <mat-icon svgIcon="{{reader?  'ic-dot-on' : ''}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="reader">
                    Lectores
                </p>
            </div>
            <div class="od-row-align-center od-section-container od-pointer" (click)="goToAdmin()">
                <div *ngIf="admin" class="od-indicator"></div>
                <mat-icon svgIcon="{{admin?  'ic-dot-on' : ''}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="admin">
                    Administradores
                </p>
            </div>

            <div  class="od-row-align-center od-section-container od-pointer" (click)="goToNotifications()" >
                <div *ngIf="loans" class="od-indicator"></div>
                <mat-icon svgIcon="{{loans? 'ic-notification-on': 'ic-notification-off'}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="loans">
                    Prestamos
                </p>
            </div>


            <div class="od-row-align-center od-section-container od-pointer" (click)="goToPublicityHome()">
                <div *ngIf="booksUser" class="od-indicator"></div>
                <mat-icon svgIcon="{{booksUser?  'ic-dot-on' : ''}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="booksUser">
                    Aprobar Prestamos
                </p>
            </div>
            <div class="od-row-align-center od-section-container od-pointer" (click)="goToPublicityHome()">
                <div *ngIf="booksUser" class="od-indicator"></div>
                <mat-icon svgIcon="{{booksUser?  'ic-dot-on' : ''}}"></mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="booksUser">
                    Devolución Prestamo
                </p>
            </div>
<!--
            <div class="od-row-align-center od-section-container od-pointer" (click)="goToAditionalInformation()" >
                <div *ngIf="aditionalInfo" class="od-indicator"></div>
                <mat-icon
                        svgIcon="{{publicityHome || publicityCategories || publicityOnboarding? 'ic-publicidad-on': 'ic-publicidad-off'}}">
                    </mat-icon>
                <p class="od-size-14 od-lato-bold-font od-color-gray-2" [class.od-color-red-active]="aditionalInfo">
                    Historial
                </p>
            </div>-->


        </div>


      
    </div>
    <div class="od-menu-footer" (click)="logout()" fxLayout="row" fxLayoutAlign="space-around center">

        <mat-icon class="icon-footer" svgIcon="ic-logout"></mat-icon>
       <!-- <div class="od-menu-footer-email">{{authService.currentUser.data.email}}</div> -->
    </div>
</nav>