<div class="container">
    <div class="column">
        <div class="header">
            <h1 *ngIf="!idAdmin" class="m20" class="od-lato-regular-font">Crear Administrador </h1>

            <h1 *ngIf="idAdmin" class="m20" class="od-lato-regular-font">Actualizar Administrador </h1>
        </div>
        <form class="form-header" [formGroup]="readerSearch">

            <div class="searchBook">
                <mat-form-field class="example-full-width od-lato-regular-font" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Placeholder">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width od-lato-regular-font" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Placeholder">
                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>


            </div>

            <div class="searchBook">
                <mat-form-field class="example-full-width od-lato-regular-font" appearance="outline">
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput formControlName="firstname" placeholder="Placeholder">
                    <mat-icon matSuffix>Name</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width od-lato-regular-font" appearance="outline">
                    <mat-label>Apellido(s)</mat-label>
                    <input matInput formControlName="lastname" placeholder="Placeholder">
                    <mat-icon matSuffix>lastname</mat-icon>
                </mat-form-field>


            </div>


            <div class="searchBook">
                <mat-form-field class="example-full-width od-lato-regular-font" appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="phoneNumber" placeholder="Placeholder">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" >
                      <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            


            </div>



           
          


            <div class="searchBook">
                <button *ngIf="!idAdmin" mat-stroked-button class="buttonspecial" [ngClass]="{'buton1': !readerSearch.valid, 'buton':readerSearch.valid  }"  (click)="createAdmin()" [disabled]="!readerSearch.valid" >Crear</button>
                <button *ngIf="idAdmin" mat-stroked-button class="buttonspecial" [ngClass]="{'buton1': !readerSearch.valid, 'buton':readerSearch.valid  }"  (click)="updateAdmin()" [disabled]="!readerSearch.valid" >Actualizar</button>

                
            </div>
         
        </form>

     

    </div>

    <app-charge *ngIf="charge"></app-charge>

</div>